:root {
	--primary: #777;
	--lighter: #333;
	--focussed: hsl(200, 100%, 50%);
	--highlighted: hsl(200, 100%, 70%);
	--selected-option: hsl(0, 100%, 90%);
	--selected-option-border: hsl(0, 100%, 50%);
}

.container {
	position: relative;
	width: 20em;
	min-height: 1.5em;
	border: .05em solid var(--primary);
	display: flex;
	align-items: center;
	gap: .5em;
	margin: .5em;
	padding: .5em;
	border-radius: .25em;
	outline: none;
}

.container:focus {
	border-color: var(--focussed);
}

.value {
	flex-grow: 1;
	display: flex;
	gap: .5em;
	flex-wrap: wrap;
}

.clear-btn {
	background: none;
	color: var(--primary);
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	font-size: 1.25em;
}

.clear-btn:focus,
.clear-btn:hover {
	color: var(--lighter);
}

.divider {
	background-color: var(--primary);
	width: 0.05em;
	align-self: stretch;
}

.caret {
	border: .25em solid transparent;
	border-top-color: var(--primary);
	translate: 0 25%;
}

.options {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	overflow-y: auto;
	max-height: 15em;
	border: .05em solid var(--primary);
	border-radius: .25em;
	width: 100%;
	left: 0;
	top: calc(100% + .25em);
	background-color: white;
	z-index: 100;
}

.options.show {
	display: block;
}

.option {
	padding: .25em .5em;
	cursor: pointer;
}

.option.selected {
	background-color: var(--focussed);
	color: white;
}

.option.highlighted {
	background-color: var(--highlighted);
}

.option-badge {
	display: flex;
	align-items: center;
	border: .05em solid var(--primary);
	border-radius: .25em;
	padding: .15em .25em;
	gap: .25em;
	background: none;
	outline: none;
	cursor: pointer;
}

.option-badge:hover,
.option-badge:focus {
	background-color: var(--selected-option);
	border-color: var(--selected-option-border);
}


.option-badge:hover > .remove-btn,
.option-badge:focus > .remove-btn {
	color: var(--selected-option-border);
}

.option-badge > .remove-btn {
	font-size: 1.25em;
	color: var(--primary);
}
